@import './styles/common';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Apple SD Gothic Neo',
    'Inter', 'Spoqa Han Sans', 'Segoe UI', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include theme() {
  background-color: t('background');

  .App {
    text-align: center;
    padding-top: map-get($header-height, 'default');

    @include screen-size(md) {
      padding-top: map-get($header-height, 'mobile');
    }

    &-products {
      width: 80%;
      max-width: 700px;
      margin: 0 auto;
      padding-top: 6rem;

      @include screen-size(md) {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s;
}
